* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("./img/thunderstorm-3625405_960_720.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s;
}

.snowy {
    min-height: 100vh;
    background-image: url("./img/snow.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cloudy {
    min-height: 100vh;
    background-image: url("./img/clouds.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rainy {
    min-height: 100vh;
    background-image: url("./img/rain.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sunny {
    min-height: 100vh;
    background-image: url("./img/sun.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main h1 {
    margin-top: 10rem;
}

.text {
    color: #333;

    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.text-light {
    font-size: 3.5rem;
}

#input {
    width: 30rem;
    margin-right: 1rem;
    height: 2.5rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.288);
    border: 1px solid rgba(119, 117, 117, 0.575);
    border-radius: 25px;
    color: white;
}

.btn {
    width: 7rem;
    height: 2.5rem;
    margin-bottom: .3rem;
    background-color: rgb(24, 37, 228) !important;
    color: white !important;

}

.btn:hover {
    background-color: rgba(47, 59, 221, 0.801) !important;
    transition: all 0.5s;
}

.btn:active {
    transform: scale(90%);
}

.weather-div {
    padding-top: 1rem;
    font-size: 1.5rem;
    background-color: rgba(189, 196, 197, 0.363);
    width: 15rem;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px;
    position: relative;
    color: blue;
    transition: all .5s;
}

.weather-div:hover {
    transform: scale(110%);
}

.btn-cross {
    position: absolute;
    right: .5rem;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* .btn-cross i {
    background-color: rgba(189, 196, 197, 0.363);
} */